/*
Rust #993300
Burnt Orange #CC6633
Earth Brown #996633
Off-Black #333333
*/
body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  display: flex;
  flex-direction: column;
}
nav {
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav a {
  color: #CC6633;
  text-decoration: none;
  font-size: 2vw;
}
nav a:hover {
  color: #993300;
}
.container {
  display: flex;
  margin-top: 50px; /* To avoid overlapping the fixed nav bar */
  flex-grow: 1;
}
h1 { font-weight: normal; font-size: calc(20px + 2vw); }
h2 { font-weight: normal; font-size: calc(16px + 1vw); }
h3 { font-weight: normal; font-size: calc(12px + 1vw); }
.main-content {
  flex: 3;
  padding-top: 60px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  text-align: center; /* Center the content */
  position: relative;
}
.rust { color: #993300; }
.orange { color: #CC6633; }
.earth { color: #996633; }
.offblack { color: #333333; }
.main-content img {
  display: block;
  margin: 0 auto 20px; /* Center the image and add bottom spacing */
  max-width: 100%;
  width: 600px;
  height: auto;
}
.main-content p, .main-content ul {
  font-size: calc(10px + 1vw);
  text-align:left; 
  color: #333333;
}
footer {
  background-color: #CC6633;
  color: #333333;
  text-align: center;
  padding: 2px;
}
